<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../css/fav.png">

    <title>Shorten URL</title>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const form = document.querySelector("form");
        const longURLInput = document.getElementById("longURL");
        const shortenButton = document.querySelector(".button-4");

        longURLInput.addEventListener("input", function () {
          shortenButton.disabled = !isValidURL(longURLInput.value.trim());
        });

        form.addEventListener("submit", function (event) {
          shortenButton.disabled = true;
          event.preventDefault();
          setTimeout(function () {
            form.submit();
          }, 1000);
        });

        function isValidURL(url) {
          const urlRegex = /^(ftp|http|https):\/\/[^ "]+$/;
          return urlRegex.test(url);
        }
      });
    </script>
  </head>
  <body>
    <div class="header-container">
      <a href="/url/dashboard" class="previous round">&#8249;</a>
      <h2>Shorten URL</h2>
    </div>
    <form action="/url/shorten" method="post">
      <input
        type="url"
        id="longURL"
        name="longURL"
        placeholder="https://example.com"
        required
      />
      <button class="button-4" type="submit" disabled>Shorten</button>
    </form>
  </body>
</html>
